.header{
    display:inline-block;
    align-items:left;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 10px;
    border-color:blue;
    flex:auto;
    
}
.item2{
    color: rgb(0, 191, 255);
}

.small{
    display:grid;
}
.A{
    color:rgb(0, 191, 255);
    font-size:30px;
    font-weight:bold;
}